{{page-title (t "site_title")}}

<ul>
    <li><LinkTo @route="resume">{{t "page_titles.resume"}}</LinkTo></li>
    <li><LinkTo @route="portfolio">{{t "page_titles.portfolio"}}</LinkTo></li>
    <li><LinkTo @route="contact">{{t "page_titles.contact"}}</LinkTo></li>
</ul>

{{outlet}}
