{{page-title (t "chrome.site_title")}}

<div
    class="d-viewport home"
    data-test-div="home-hero"
>
    <h1 data-test-h1="kevin boucher">
        <span data-shadow-text={{t "chrome.short_name"}}>
            {{t "chrome.short_name"}}
        </span>
        <hr>
    </h1>
    <h2 data-test-h1="ui-ux engineer">
        {{t "chrome.position"}}<br>
        {{t "chrome.site_subtitle" htmlSafe=true}}
    </h2>
    <a
        class="icon-link about-site"
        data-test-link="more-about-this-site"
        href="https://kboucher.github.io"
        rel="noopener noreferrer"
        target="_blank"
    >
        {{t "links.more_about_this_site"}}
        {{!-- template-lint-disable no-bare-strings --}}
        <i class="material-icons ms-1">open_in_new</i>
        {{!-- template-lint-enable no-bare-strings --}}
    </a>
</div>
