{{page-title (t "chrome.site_title")}}

<div class="d-viewport home">
    <h1>
        <span data-shadow-text={{t "chrome.short_name"}}>
            {{t "chrome.short_name"}}
        </span>
        <hr>
    </h1>
    <h2>
        {{t "chrome.position"}}<br>
        {{t "chrome.site_subtitle" htmlSafe=true}}
    </h2>
</div>
