{{page-title (t "page_titles.resume")}}

<div class="container resume">
    <header>
        <h1>{{t "chrome.site_title"}}</h1>
        <div class="row">
            <div class="col-12 col-md-6">
                <span class="h4 mb-1 subtitle">{{t "chrome.position"}}</span>
                <p class="mb-0 mt-2">
                    <a
                        class="icon-link"
                        href="/files/KevinBoucherResume2022.pdf"
                        rel="noopener noreferrer"
                        target="_blank"
                        title={{t "labels.download_resume"}}
                    >
                        {{!-- template-lint-disable no-bare-strings --}}
                        <i class="material-icons me-1">picture_as_pdf</i>
                        {{!-- template-lint-enable no-bare-strings --}}
                        {{t "links.download"}}
                    </a>
                </p>
            </div>
            <div class="col-12 col-md-6">
                <ul class="contact-links list-inline">
                    <li class="list-inline-item">
                        <a
                            href="https://www.linkedin.com/in/kevinpaulboucher/"
                            title={{t "labels.view_linked_in_profile"}}
                        >
                            {{t "links.linked_in"}}
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a
                            href="https://github.com/kboucher"
                            title={{t "labels.view_github_profile"}}
                        >
                            {{t "links.github"}}
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a
                            href="http://stackoverflow.com/users/1588648/kevin-boucher"
                            title={{t "labels.view_stack_overflow_profile"}}
                        >
                            {{t "links.stack_overflow"}}
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a
                            href="mailto:kevin@kevinboucher.com?subject=Résumé contact message"
                            title={{t "labels.send_email"}}
                        >
                            <span class="hide-on-small-only">
                                {{t "links.email_kevin_boucher"}}
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <section class="mt-3">
        <h2>{{t "labels.skills_set_tools" htmlSafe=true}}</h2>

        <div class="row">
            {{#each this.skills as |skill|}}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 skill-set">
                    <h3>{{skill.category}}</h3>
                    <ul>
                        {{#each skill.details as |detail|}}
                            <li>{{detail}}</li>
                        {{/each}}
                    </ul>
                </div>
            {{/each}}
        </div>
    </section>

    <section>
        <h2>{{t "labels.experience"}}</h2>

        {{#each this.positions as |position|}}
            <div class="position row">
                <div class="col-12 col-md-4">
                    <h3>{{position.title}}</h3>
                    <p class="position__organization">{{html-safe position.organization}}</p>
                    <p class="position__date-range">{{html-safe position.dateRange}}</p>
                </div>

                <div class="col-12 col-md-8">
                    <p class="position__summary">{{html-safe position.summary}}</p>
                    <ul>
                        {{#each position.details as |detail|}}
                            <li>{{html-safe detail}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        {{/each}}
    </section>

    <footer>
        <p class="text-center">{{t "chrome.tagline" htmlSafe=true}}</p>
    </footer>

    <SiteFooter />
</div>

